     #gameZone{
        background: black;
        height: 600px;
        position: relative;
      }
      .object{
        color: white;
        font-size: 20px
      }

      .object typed{
        color: green;
      }
      .checkbox label:after, 
      .radio label:after {
          content: '';
          display: table;
          clear: both;
      }

      .checkbox .cr,
      .radio .cr {
          position: relative;
          display: inline-block;
          border: 1px solid #a9a9a9;
          border-radius: .25em;
          width: 1.3em;
          height: 1.3em;
          float: left;
          margin-right: .5em;
      }

      .radio .cr {
          border-radius: 50%;
      }

      .checkbox .cr .cr-icon,
      .radio .cr .cr-icon {
          position: absolute;
          font-size: .8em;
          line-height: 0;
          top: 50%;
          left: 20%;
      }

      .radio .cr .cr-icon {
          margin-left: 0.04em;
      }

      .checkbox label input[type="checkbox"],
      .radio label input[type="radio"] {
          display: none;
      }

      .checkbox label input[type="checkbox"] + .cr > .cr-icon,
      .radio label input[type="radio"] + .cr > .cr-icon {
          transform: scale(3) rotateZ(-20deg);
          opacity: 0;
          transition: all .3s ease-in;
      }

      .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
      .radio label input[type="radio"]:checked + .cr > .cr-icon {
          transform: scale(1) rotateZ(0deg);
          opacity: 1;
      }

      .checkbox label input[type="checkbox"]:disabled + .cr,
      .radio label input[type="radio"]:disabled + .cr {
          opacity: .5;
      }

      h1{font-family: "Roboto", sans-serif}

      .text.center{text-align:center}
      .blog-title{font-size:4rem; font-family:'Arial'; font-weight:700; margin-bottom:0; }
      .blog-description{font-size:2rem; font-family:'Arial'; font-weight:700; margin-bottom:0;}
      .padding,.pagination{padding:4rem}
      .margin-left{margin-left: 4rem}

      .typing-progress {
        list-style: none;
        font-size: 1.4em;
      }
      .typing-progress li {
        border-left: 0.2em solid #C0C0C0;
        padding: 0 0 0.1em 1em;
        position: relative;
      }

      .typing-progress li::before {
        font-family: 'FontAwesome';
        content: "\f111";
        font-size: 1em;
        color: #C0C0C0;
        position: absolute;
        left: -0.55em;
        top: -0em;
      }

      li.level-complete::before{
        color: black
      }

      li.level-complete{
        border-left: 0.2em solid black;
      }



    